
:root{
    --fontTitles: 'Poppins',sans-serif;
}
h1,h2,h3,h4,h5,h6,a,p,input,label{
    font-family: var(--fontTitles);
}
html{
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container-general{
    display: flex;
    flex-direction: column;
    height: 100%;
  
}


@media(min-width:1200px){
    .container-general{
     
        flex-direction: row;
    }
}


.contenedor{
    max-width: 900px;
    margin: 0 auto;
}

.login{
    max-width: 100%;
    width: 100%;
    padding: 2rem 0;
}
.login h1{
    text-align: center;
    font-size: 4rem;
    margin: 0
}
@media(min-width:1200px){
    .login{
        max-width: 50%;
        width: 100%;
        padding: 0;
    }
    .login h1{
        text-align: left;
      
    }
    .login p{
    
        text-align: left !important;
    }

}



.login p{
    font-weight: 500;
    text-align: center;
}
.hero{
    max-width: 100%;
    width: 100%;
    height: 100%;
 

}

@media(min-width:1200px){
    
    .hero{
        max-width: 50%;
        width: 100%;
        height: 100%;
     
    
    }
}
label{
    display: block;
   
}

.container-submit input{
    display: block;
}
.container-img{
    height: 100%;
}
.container-img img{
    object-fit: cover;

}
img{
    display: block;
    width: 100%;
    height: 100%;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signin{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
    height: 350px;
    position: relative;
    width: auto;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 19px -6px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 19px -6px rgba(184,184,184,1);
    box-shadow: 0px 0px 19px -6px rgba(184,184,184,1);
}
input:not([type="checkbox"]){
    margin: .4rem 0;
    height: 35px;
    width: 100%;
}
input[type="checkbox"]{
    margin: .8rem 0;
  
}
@media(min-width:768px){
    input[type="checkbox"]{
        margin: 0;
      
    } 

}
.container-rememberme{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.container-rememberme a{
    font-size: .8rem;
}
@media(min-width:768px){
    .container-rememberme{
        flex-direction: row;
        align-items: left;
        font-size: 1rem;
    }

}

.container-rememberme a{
    text-decoration: none;
    color: #858585;
}
.container-rememberme a:hover{
    cursor: pointer;
    color: rgb(20, 20, 20);
}

input[type="submit"]{
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    transition: .3s all ease-in-out;
}
input[type="submit"]:hover{
    background-color: transparent;

    border-radius: 5px;
    cursor: pointer;
    color: white;
}
input[type="submit"]:first-child{
    margin-top: 1rem;
    color: white;
    background-color: #000123
}


.container-logogoogle{
    width: 20px;

    
}


.container-signgoogle{
    position: relative;

   
}
.container-signgoogle input:hover{
    background: rgb(0,54,246);
    background: linear-gradient(94deg, rgba(0,54,246,1) 0%, rgba(176,0,0,1) 47%, rgba(0,255,25,1) 71%, rgba(255,244,0,1) 100%);
    height: 40px;
    color: white;
    
}
.container-logogoogle{
    position: absolute;
    left: 5%;
    top: 26%;
    display: flex;
    align-items: center;
  

}

.hero{
    position: relative;
}


.container-signup{
    text-align: center;
}
.container-signup a{
    text-decoration: none;
}
.container-datahero{
  
 
    height: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    
}

@media(min-width:1200px){
    .container-datahero{
        align-items: flex-end;
    }    

}
.container-data{

 

backdrop-filter: blur(1rem);

}



@media(min-width:768px){
    
  .container-autorstars{
    margin-top: 1rem;   transition: .5s all ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
  }

    .container-data{
    
    margin: 3rem 4rem;
    padding: 2rem 2.5rem;
        

    }
}


.container-datahero blockquote{
    transition: .5s font-size ease-in-out;
    font-size: 1.3rem ;
padding: 0 .3rem;
margin: 0;

color: rgb(227, 227, 227);
}

@media(min-width:768px){
    .container-datahero blockquote{
        font-size: 1.9rem ;
    }

}

@media(min-width:1200px){
    .container-datahero blockquote{
        font-size: 2.3rem ;
    }

}

.container-autor h2{
    font-size: 1.2em;
    color: rgb(214, 214, 214);
}
.container-stars{
    color: white;
    font-size: 1.2rem;
}
@media(min-width:768px){
    .container-autor h2{
        font-size: 1.5em;
    }
    .container-stars{
        font-size: 1.5rem;
    }
    .container-profesion p{
        font-size: 1rem;
    }

    .flecha i{
    
       font-size: 40px !important;
    }

}

.container-img{
    position: relative;
    filter: brightness(.6);
}

.container-prof-flechas{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-profesion p{
    color: white;
    font-size: .8rem;
}
.container-profesion p:last-child{
    color: rgb(220, 220, 220);
}

.flecha{
    background-color: transparent;
    border: none;
  
}
.flecha i{
    color: white;
   font-size: 20px;
}
button:hover{
    cursor: pointer;
}



